html {
    scroll-behavior: smooth;
}

.border-radius {
    border-radius: 10px;
}

a {
 color: rgb(237, 108, 2);
}

.blur-app-bar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter:blur(20px);
}